/*google fonts*/
body {
	font-family: 'Open sans', sans-serif;
}

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav {
	position: sticky;
	display: inline;
}

nav {
	position: sticky;
	padding: 1.5rem;
	margin-bottom: 2rem;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
}

.nav-logo {
	display: inline;
	padding-left: 4rem;
	float: left;
}

nav .nav-logo, nav .nav {
	display: inline;
	margin: 0.5rem;
}

.right-nav {
	float: right;
	margin-right: 3rem;
	font-weight: bold;
	display: block;
}

nav .tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-style: none;
}

/*landing page*/

#bg-image {
	background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
	height: 60vh;
}

.front-bg { 
    min-height: 60vh;
    position: relative;
    text-align: right;
 }

.container {
	float: right;
	font-family: 'Zilla Slab';
	padding: 0.5rem;
	padding-top: 0rem;
	width: 50%;
	margin-right: 4rem;
	color: white;
}

.title {
	margin-bottom: 2rem;
	font-size: 2.5rem;
	padding-left: 1rem;
}

.subtitle {
	text-align: right;
	font-size: 18px;
	margin-bottom: 1rem;
	padding-left: 13rem;
	margin-top: 1rem;
	font-weight: lighter;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-top: 2rem;
	border-style: none;
}


.intro {
	text-align: center;
	padding: 2rem;
}

.title-2 {
	position: relative;
	padding: 2rem;
}

.intro-description {
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	font-size: 16px;
	position: relative;
	margin-left: 5rem;
	margin-right: 5rem;
}

.pre-footer {
	background-color: #f7fbfb ;
	text-align: center;
}

.title-2 {
	font-family: 'Zilla Slab', sans-serif;
	text-align: center;
}

.prefooter-description {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-left: 7rem;
	margin-right: 7rem;
}

.book-button {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: bold;
	background-color: #336589;
	font-size: 1rem;
	border-radius: 25px;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin: 2rem;
}

footer {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: gray;
	margin: 1rem;
}
